<h2 class="center">{{sessionTitle}}</h2>

<!-- ==================================== START DESSERT ==============================================-->

<div class="galleryDetailsDiv" *ngIf="sessionName == 'Dessert';">
  <table class="galleryDetailsTable">
    <tr>
      <td>
        <img src="assets/img/gallery/Dessert/2.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/Dessert/3.jpg" width="400" height="350"/>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/img/gallery/Dessert/4.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/Dessert/5.jpg" width="400" height="350"/>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/img/gallery/Dessert/6.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/Dessert/7.jpg" width="400" height="350"/>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/img/gallery/Dessert/8.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/Dessert/9.jpg" width="400" height="350"/>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/img/gallery/Dessert/10.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/Dessert/11.jpg" width="400" height="350"/>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/img/gallery/Dessert/12.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/Dessert/13.jpg" width="400" height="350"/>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/img/gallery/Dessert/14.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/Dessert/15.jpg" width="400" height="350"/>
      </td>
    </tr>
  </table>
</div>

<!-- ==================================== END DESSERT ==============================================-->


<!-- ================================== START ASIAN MARTIAL DANCE ====================================-->

<div class="galleryDetailsDiv" *ngIf="sessionName == 'AsianMartialDance';">
  <table class="galleryDetailsTable">
    <tr>
      <td>
        <img src="assets/img/gallery/AsianMartialDance/2.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/AsianMartialDance/3.jpg" width="400" height="350"/>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/img/gallery/AsianMartialDance/4.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/AsianMartialDance/5.jpg" width="400" height="350"/>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/img/gallery/AsianMartialDance/6.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/AsianMartialDance/7.jpg" width="400" height="350"/>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/img/gallery/AsianMartialDance/8.jpg" width="400" height="350"/>
      </td>
    </tr>
  </table>
</div>

<!-- ==================================END ASIAN MARTIAL DANCE ====================================-->


<!-- ===================================== START COMBAT ART =======================================-->

<div class="galleryDetailsDiv" *ngIf="sessionName == 'CombatArt';">
  <table class="galleryDetailsTable">
    <tr>
      <td>
        <img src="assets/img/gallery/CombatArt/2.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/CombatArt/3.jpg" width="400" height="350"/>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/img/gallery/CombatArt/4.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/CombatArt/5.jpg" width="400" height="350"/>
      </td>
    </tr>
  </table>
</div>

<!-- ===================================== END COMBAT ART =======================================-->

<!-- ================================= START CONSTELLATION TRAINING =============================-->

<div class="galleryDetailsDiv" *ngIf="sessionName == 'ConstellationTraining';">
  <table class="galleryDetailsTable">
    <tr>
      <td>
        <img src="assets/img/gallery/ConstellationTraining/2.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/ConstellationTraining/3.jpg" width="400" height="350"/>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/img/gallery/ConstellationTraining/4.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/ConstellationTraining/5.jpg" width="400" height="350"/>
      </td>
    </tr>
  </table>
</div>

<!-- ================================== END CONSTELLATION TRAINING =============================-->

<!-- ================================= START HEAL YOUR LIFE =====================================-->

<div class="galleryDetailsDiv" *ngIf="sessionName == 'HealYourLife';">
  <table class="galleryDetailsTable">
    <tr>
      <td>
        <img src="assets/img/gallery/HealYourLife/2.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/HealYourLife/3.jpg" width="400" height="350"/>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/img/gallery/HealYourLife/4.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/HealYourLife/5.jpg" width="400" height="350"/>
      </td>
    </tr>
  </table>
</div>

<!-- ================================= END HEAL YOUR LIFE =====================================-->

<!-- ================================ START INTEGRATED HEALING =================================-->

<div class="galleryDetailsDiv" *ngIf="sessionName == 'IntegratedHealing';">
  <table class="galleryDetailsTable">
    <tr>
      <td>
        <img src="assets/img/gallery/IntegratedHealing/2.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/IntegratedHealing/3.jpg" width="400" height="350"/>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/img/gallery/IntegratedHealing/4.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/IntegratedHealing/5.jpg" width="400" height="350"/>
      </td>
    </tr>
  </table>
</div>

<!-- ================================ END INTEGRATED HEALING =================================-->

<!-- ================================== START PLAY THERAPY ===================================-->

<div class="galleryDetailsDiv" *ngIf="sessionName == 'PlayTherapy';">
  <table class="galleryDetailsTable">
    <tr>
      <td>
        <img src="assets/img/gallery/PlayTherapy/2.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/PlayTherapy/3.jpg" width="400" height="350"/>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/img/gallery/PlayTherapy/4.jpg" width="400" height="350"/> 
      </td>
      <td>
        <img src="assets/img/gallery/PlayTherapy/5.jpg" width="400" height="350"/> 
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/img/gallery/PlayTherapy/6.jpg" width="400" height="350"/> 
      </td>
    </tr>
  </table>
</div>

<!-- ================================== END PLAY THERAPY ===================================-->

<!-- ================================== START SURYA NAMASKAR ===================================-->

<div class="galleryDetailsDiv" *ngIf="sessionName == 'SuryaNamaskar';">
  <table class="galleryDetailsTable">
    <tr>
      <td>
        <img src="assets/img/gallery/SuryaNamaskar/2.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/SuryaNamaskar/3.jpg" width="400" height="350"/>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/img/gallery/SuryaNamaskar/4.jpg" width="400" height="350"/>
      </td>
      <td>
        <img src="assets/img/gallery/SuryaNamaskar/5.jpg" width="400" height="350"/>
      </td>
    </tr>
  </table>
</div>

<!-- ================================== END SURYA NAMASKAR ===================================-->