<h2 class="center">About Us</h2>
<p class="spacing">
  At Self And Beyond, we support you to explore yourself even Beyond you. As we all know that the MIND, BODY and SPIRIT are
  one System. Each is inextricably linked and even with a slight change in one, the others also change. We all posses the
  power and the ability to heal, No matter how serious the illness or how traumatic the event the mind and body have a miraculous
  capacity to regenerate, rejuvenate and revitalize itself . We aspire to promote health and wellness from a wide variety
  of perspectives taking into consideration as many healing modalities as possible in the spectrum. We endeavor to heal,
  empower and inspire you on your path of unlimited potential.
</p>