<div class="backButtonDiv" *ngIf="backButtonDisplay=='show'">
    <a class="pointer" (click)="onBack()" style="float:left;width:100%">
        <span class="glyphicon glyphicon-arrow-left"></span>  Back
    </a>
</div>

<!--================================= Start Hypnotherapy =====================================-->
<div class="content" *ngIf="sessionDetails == 'Hypnotherapy'">
    <img class="mainImage" src="../assets/img/sessions/hypnotherapy-details.jpg" />
    <h2 class="center">Hypnotherapy</h2>
    <p>Hypnotherapy is a form of psychotherapy used to create subconscious change in a patient in the 
    form of new responses, thoughts, attitudes, behaviors or feelings.</p>

    <p>It uses guided relaxation, intense concentration, and focused attention to achieve a heightened 
    state of awareness that is sometimes called a trance. The person’s attention is so focused while 
    in this state that anything going on around the person is temporarily blocked out or ignored. 
    In this naturally occurring state, a person may focus his or her attention — with the help of a 
    trained therapist — on specific thoughts or tasks.</p>

    <p>The hypnotic state allows people to explore painful thoughts, feelings, and memories they might 
    have hidden from their conscious minds. In addition, hypnosis enables people to perceive some 
    things differently, such as understanding and working upon the painful feelings.</p>
</div>
<!--=================================== End Hypnotherapy ====================================-->



<!--================================= Start Past Life Regression =====================================-->
<div class="content" *ngIf="sessionDetails == 'PastLifeRegression'">
    <img class="mainImage" src="../assets/img/sessions/PLR.jpg" />
    <h2 class="center">Past Life Regression</h2>
    <p>Past life regression (PLR) is the alleged journeying into one&#39;s past lives while hypnotized. This is the
    process in which an altered state of consciousness is induced in order to help a person to relive
    experiences from past lives. Past life regression may help us learn about factors in relationships that are
    affecting us today or about health problems that seem to have no basis in this life. The goal of past life
    regression is to allow us an understanding of the soul&#39;s memory in order for us to release, forgive and
    grow. Regression therapies are especially helpful when trying to uncover problems or concepts from lives
    in the past.</p>

    <p>Past life regression is a very deep healing, self-awareness process wherein you access your
    subconscious to get profound insights and revelations about your own life. The outcome is that you feel
    very light and mentally and emotionally detoxed after a single session. If problems are in your mind,
    solutions are also in your mind only. You can access such sessions when you feel stuck up in life or are
    looking for further progress.</p>
</div>
<!--=================================== End Past Life Regression ====================================-->



<!--================================ Start Family Constellation ==================================-->
<div class="content" *ngIf="sessionDetails == 'FamilyContellation'">
    <img class="mainImage" src="../assets/img/sessions/family-constellation.jpg" />
    <h2 class="center">Family Constellation</h2>
    <p>Family Constellations, also known as Systemic Constellations and Systemic Family
    Constellations, is an  alternative  therapeutic method which draws on elements of family systems
    therapy,  existential phenomenology  and  Zulu  attitudes to family. In a single session, a Family
    Constellation attempts to reveal a supposedly unrecognized systemic dynamic that spans multiple
    generations in a given family and to resolve the deleterious effects of that dynamic by encouraging
    the subject to encounter representatives of the past and accept the factual reality of the past.</p>

    <p>Family Constellations diverges significantly from conventional forms
    of  cognitive ,  behaviour  and  psychodynamic psychotherapy . The method has been described by
    physicists as  quantum quackery , and its founder  Bert Hellinger  incorporates
    the  pseudoscientific  idea of  morphic resonance  into his explanation of it. Positive outcomes from the
    therapy have been attributed to conventional explanations such as  suggestion  and  empathy.</p>

    <p>Practitioners claim that present-day problems and difficulties may be influenced by traumas suffered
    in previous generations of the family, even if those affected now are unaware of the original event in
    the past. Hellinger referred to the relation between present and past problems that are not caused by
    direct personal experience as Systemic entanglements, said to occur when unresolved trauma has
    afflicted a family through an event such as murder, suicide, death of a mother in childbirth, early
    death of a parent or sibling, war, natural disaster, emigration, or abuse. The psychiatrist  Iván
    Böszörményi-Nagy  referred to this phenomenon as Invisible Loyalties.</p>
</div>
<!--================================= End Family Constellation ====================================-->




<!--================================ Start Inner Child Work ==================================-->
<div class="content" *ngIf="sessionDetails == 'InnerChildWork'">
    <img class="mainImage" src="../assets/img/sessions/inner-child-work-details.jpg" />
    <h2 class="center">Inner Child Work</h2>
    <p>Are you outwardly successful but inwardly feel like a big kid? Do you aspire to be a loving parent but all too often “lose it”
    in hurtful ways? Do you crave intimacy but sometimes wonder if it’s worth the struggle? Are you plagued by constant
    vague feelings of anxiety or depression?</p>

    <p>If any of this sounds familiar, you may be experiencing the hidden but damaging effects of a painful childhood-carrying
    within you a “wounded inner child” who is crying out for attention and healing.</p>
        
    <p>Inner child work helps you to heal that “wounded inner child” and help you to reclaim your wonderful inner child back
    again.</p>
</div>
<!--================================= End Inner Child Work ====================================-->



<!--======================================= Start Sound Healing =======================================-->
<div class="content" *ngIf="sessionDetails == 'SoundHealing'">
    <img class="mainImage" src="../assets/img/sessions/sound-healing.jpg" />
    <h2 class="center">Sound Healing</h2>
    <p>Sound Healing is an effective and proven modality that uses vibrational sound to help reduce stress, 
    alter consciousness and create a deep sense of peace, well being and better health. Sound has also 
    been shown to be a vital part of the healing process for cancer patients undergoing chemotherapy and 
    side effects especially for pain relief management.</p>
    
    <p>During our waking state, the normal frequency of our brain waves is that of Beta. Sound tools 
    entrain the brain to move into the deeper Alpha and Theta brain wave frequencies. These are the 
    frequencies that induce deep meditative and peaceful states, clarity of mind and intuition. Modern 
    medicine can now measure and thus confirm the practice of sound as a means to promote healing.  
    It is a type of energy medicine that creates the sacred space in which people can heal from stress 
    disorders, pain, depression, the emotional roller coaster and more.</p>
</div>
<!--======================================= End Sound Healing =======================================-->



<!--======================================= Start Access Bar Consciousness =======================================-->
<div class="content" *ngIf="sessionDetails == 'AccessBarConsciousness'">
    <img class="mainImage" src="../assets/img/sessions/access-bar-consciousness-details.jpg" />
    <h2 class="center">Access Bar Consciousness</h2>
    <p>The Bars can be the starting point of a great adventure and they can be
    something you add to your life that will assist you in creating a greater ease
    with everything.</p>

    <p>The Access Bars are 32 bars of energy that run through and around your head
    that connect to different aspects of your life. We call all of the points you
    touch when using this modality &quot;The Bars.&quot;</p>
    
    <p>The Bars store the electromagnetic component of all the thoughts, ideas,
    attitudes, decisions and beliefs that you have ever had about anything. For
    example; every thought you have ever had about money that you considered
    important, the energy of that thought is stored in the Bar called &quot;money.&quot;
    There are Bars for healing, body, control, awareness, creativity, power, aging,
    sex and money; 32 different ones in all. Each Bar corresponds with that
    aspect or area of your life that it is named. Touch one Bar and you begin to
    clear away the energy locked up in that area or aspect of your life just by
    touching it.</p>
</div>
<!--======================================= End Access Bar Consciousness =======================================-->


<!--======================================= Start NLP ============================================-->
<div class="content" *ngIf="sessionDetails == 'NLP'">
    <img class="mainImage" src="../assets/img/sessions/nlp-details.jpg" />
    <h2 class="center">NLP</h2>
    NLP stands for Neuro-Linguistic Programming, a name that encompasses the three most influential components involved in producing
    human experience: neurology, language and programming. The neurological system regulates how our bodies function, language
    determines how we interface and communicate with other people and our programming determines the kinds of models of the
    world we create. Neuro-Linguistic Programming describes the fundamental dynamics between mind (neuro) and language (linguistic)
    and how their interplay affects our body and behavior (programming).
</div>
<!--====================================== End NLP ============================================-->


<!--======================================= Start Tarot =======================================-->
<div class="content" *ngIf="sessionDetails == 'Tarot'">
    <img class="mainImage" src="../assets/img/sessions/tarot-details.jpg" />
    <h2 class="center">Tarot</h2>
    Tarot is not intended to answer specific yes or no questions. Most say it also shouldn’t be used to 
    make decisions, but instead should be used as a guide to help you make the decision yourself. Learn 
    to know the inner workings of your mind that affect your health,finances,relationships and decisions 
    through the ancient art and science of tarot.
    <br />
    The three day workshop aims to teach you how to read tarot personally and professionally.
</div>
<!--======================================= End Tarot =======================================-->

<br />
<br />
<div *ngIf="backButtonDisplay=='show'">
    <a class="pointer" (click)="onBack()" style="float:left;width:100%">
        <span class="glyphicon glyphicon-arrow-left"></span>  Back
    </a>
</div>






<!--=================================== Start Accupressure ======================================-->
<!-- <div class="content" *ngIf="sessionDetails == 'Accupressure'">
        <img class="mainImage" src="../assets/img/sessions/accupressure-single.jpg" />
        <h2 class="center">Accuressure</h2>
        Acupressure is an ancient art of healing self and others by stimulating body’s natural self-curative abilities. It is the
        most effective method of self-treatment of various types of ailments by using the power and sensitivity of the human
        hand. It deals with all aspects of a person as a whole: body, emotions, mind and spirit as one, and not as separate parts.
        It balances the vital life forces of the body. 
        <br />
        <br />
        Benefits :-
        <ul class="unorderedList">
            <li>Relieve stress and tension </li>
            <li>Relax mind and body</li>
            <li>Increase blood circulation</li>
            <li>Aid in the removal of toxic waste</li>
            <li>Relief from different aches and pains</li> 
            <li>Promote the healing of injuries</li>
            <li>Increase energy levels </li>
            <li>Increase overall feeling of well-being</li>
        </ul>
    </div> -->
    <!--===================================== End Accupressure =========================================-->
    
    
    
    <!--================================= Start Beauty & Skin Care =====================================-->
    <!-- <div class="content" *ngIf="sessionDetails == 'SkinCare'">
        <img class="mainImage" src="../assets/img/sessions/skin-care-single.png" />
        <h2 class="center">Beauty & Skin Care</h2>
        Learn the detailed tips and tricks of makeup beauty and skincare
        <br />
        <br />
        What you learn:
        <ul class="unorderedList">
            <li>Complete Skincare</li>
            <li>Unique Formal Makeup</li>
            <li>Glamorous Party Makeup</li>
            <li>Gorgeous Quickstep Makeup</li>
            <li>Skin Identification</li> 
            <li>DO’S & DONT’S</li>
            <li>Eating Right</li>
            <li>Makeup Care & Maintenance</li>
            <li>How To Select Your Cosmetics</li>
        </ul>
    </div> -->
    <!--================================= End Beauty & Skin Care ====================================-->
    <!--======================================= Start Self Defence =======================================-->
    <!-- <div class="content" *ngIf="sessionDetails == 'SelfDefence'">
        <img class="mainImage" src="../assets/img/sessions/self-defence-single.jpg" />
        <h2 class="center">Self Defence</h2>
        If you can relate to the emotion of insecurity or vulnerability, help us help you defend yourself 
        and the ones you care for.The knowledge of proper self defense techniques could be the answer to 
        the dilemma. It can make modern day living safe, comfortable and peaceful.The training aims to help 
        its participants gain confidence to handle uncomfortable situations, guide their loved ones to safety 
        and to cope with circumstances calmly. It’s all about defending yourself, and keeping those you care 
        about safe. We lock our cars and homes to protect our belongings. Why not learn to protect ourselves?
        <br />
        <br />
        <u>Benefits Of Learning:</u>
        <ul class="unorderedList">
            <li>Strength</li>
            <li>Flexibility</li>
            <li>Self Confidence</li>
            <li>Stamina</li>
            <li>Balance</li>
            <li>Mental Skill</li>
            <li>Physical Fitness</li>
            <li>Safety</li>
        </ul>
        <br />
        <u>Program Content:</u>
        <br />
        Hand to hand module based on kick boxing, striking, trapping and grappling- taken from the best world 
        class close quarter combat systems. Weapons module based on world class Filipino-Indonesian-Indian 
        impact and edged weapon systems.
    </div> -->
    <!--======================================= End Self Defence =======================================-->
    <!--================================= Start Meditation =====================================-->
    <!-- <div class="content" *ngIf="sessionDetails == 'Meditation'">
        <img class="mainImage" src="../assets/img/sessions/meditation-single.jpg" />
        <h2 class="center">Meditation</h2>
        Meditation has two important benefits:
        <ol class="orderedList">
            <li>Meditation prevents stress from getting into the system</li>
            <li>Meditation releases accumulated stress that is in the system</li>
        </ol>
        Both of these happen simultaneously, leaving one refreshed and joyful.
        <br />
        <br />
        <u>Physical Benefits of Meditation</u>
        <br />
        With meditation, the physiology undergoes a change and every cell in the body is filled with more 
        prana (energy). This results in joy, peace, enthusiasm as the level of prana in the body increases.
        <br />
        On a physical level, meditation: Lowers high blood pressure, Lowers the levels of blood lactate, 
        reducing anxiety attacks, Decreases any tension-related pain, such as, tension headaches, ulcers,
        insomnia, muscle and joint problems Increases serotonin production that improves mood and behavior 
        Improves the immune system, Increases the energy level, as you gain an inner source of energy.
        <br />
        Meditation brings the brainwave pattern into an Alpha state that promotes healing. The mind becomes 
        fresh, delicate and beautiful. 
        <br />
        With regular practice of meditation:
        <br />
        Anxiety decreases
        <br />
        Emotional stability improves
        <br />
        Creativity increases
        <br />
        Happiness increases
        <br />
        Intuition develops
        <br />
        Gain clarity and peace of mind. Problems become smaller
        <br />
        Meditation makes you aware – that your inner attitude determines your happiness.
        <br />
        Other Benefits of Meditation Emotional steadiness and harmony: 
        <br />
        Meditation cleanses and nourishes you from within and calms you, whenever you feel overwhelmed, unstable, 
        or emotionally shut down.
        <br />
        Meditation brings harmony in creation: when you meditate, you are in the space of vastness, calmness 
        and joy and this is what you emit into the environment, bringing harmony to the Creation/planet.
        <br />
        Consciousness evolves: with the assimilation of meditation into daily life, your consciousness 
        evolves and in time, is able to experience the higher and refined states of consciousness.
        When your consciousness evolves and expands, the disturbances in your life become negligible.
        Personal Transformation: meditation can bring about a true personal transformation.
        <br />
        <br />
        <u>How to get the benefits:</u>
        <br /> 　
        To experience the benefits of meditation, regular practice is necessary. It takes only a few minutes 
        every day. Once imbibed into the daily routine, meditation becomes the best part of your day!
        <br />
        Meditation is like a seed. When you cultivate a seed with love, the more it blossoms. Similarly, 
        the sapling of consciousness is within you. It needs to be nurtured with simple meditation techniques.
        <br />
        Busy people from all backgrounds are grateful to pause and enjoy a refreshing few minutes of 
        meditation each day.
        <br />
        Dive deep into yourself and enrich your life.
    </div> -->
    <!--======================================= End Meditation =======================================-->
    
    
    
    <!--======================================= Start Yoga =======================================-->
    <!-- <div class="content" *ngIf="sessionDetails == 'Yoga'">
        <img class="mainImage" src="../assets/img/sessions/yoga-single.jpg" />
        <h2 class="center">Yoga</h2>
        Yoga is a 5000 year old Indian body of knowledge. Though many think of yoga only as a physical 
        exercise where people twist, turn, stretch, and breathe in the most complex ways, these are actually 
        only the most superficial aspect of this profound science of unfolding the infinite potentials of 
        the human mind and soul.
    </div> -->
    <!--======================================= End Yoga =======================================-->
    <!--================================= Start Hair Styling =====================================-->
    <!-- <div class="content" *ngIf="sessionDetails == 'HairStyling'">
        <img class="mainImage" src="../assets/img/sessions/hair-style-single.jpg" />
        <h2 class="center">Hair Styling</h2>
        We will teach you how to make the best of your hair & accessories
        <br />
        <br />
        You will learn
        <ul class="unorderedList">
            <li>6 Plus Styles Of Do- It –Your Self Hair Styles</li>
            <li>Hair Care</li>
            <li>How To Use Straightener</li>
            <li>How To Use Curler/Tongs</li>
            <li>How Ho Use Hair Accessories</li>
            <li>Latest Hair Trends & How To Improvise The Same</li>
            <li>How To Set Your Hair</li>
            <li>How To Blow Dry Different Kinds Of Hair</li>
            <li>Special Tips On Hair Problems & Their Solutions</li>
        </ul>
    </div> -->
    <!--=================================== End Hair Styling ======================================-->
    
    
    
    <!--================================= Start Handwriting Analysis =====================================-->
    <!-- <div class="content" *ngIf="sessionDetails == 'HandwritingAnalysis'">
        <img class="mainImage" src="../assets/img/sessions/handwriting-analysis.jpg" />
        <h2 class="center">Handwriting Analysis</h2>
        Handwriting analysis is an effective and reliable indicator of personality and behaviour, and so 
        is a useful tool for many organizational processes, for example: recruitment, interviewing and 
        selection, team-building, counselling, and career-planning.
    
        In these lessons you will learn everything about handwriting and how to interpret the various styles, 
        slants, loops, sizes and spacing that reveals truths about our personality and character.
    </div> -->
    <!--=================================== End Handwriting Analysis ====================================-->

    <!--================================= Start Heal Your Life, Love Yourself =====================================-->
    <!-- <div class="content" *ngIf="sessionDetails == 'HealYourLife'">
        <img class="mainImage" src="../assets/img/sessions/heal-your-life-single.jpg" />
        <h2 class="center">Heal Your Life, Love Yourself</h2>
        This workshop, originally developed by LOUISE L. HAY based on her book, ‘YOU CAN HEAL YOUR LIFE” 
        can serve as “a stepping stone” on your pathway of self-discovery. You will be gently and skillfully 
        guided towards a realization of your own power, inner wisdom and strengths, which will help you to 
        achieve the life of joy, happiness, prosperity and health you deserve.
        <br />
        <br />
        In the workshop you will : 
        <ul class="unorderedList">
            <li>Learn to love yourself and others more fully and deeply. </li>
            <li>Release negative emotions that block your joy and creativity. </li>
            <li>Work with body, mind and spirit to transform your life. </li>
            <li>Understand your barriers to love.</li>
            <li>Get more of what you want from life.</li>
            <li>Gain new tools and ideas to assist you on your journey.</li>
        </ul>
        <br />
        <br />
        By the end of the WORKSHOP:
        You will have a renewed appreciation and love for yourself and others. You will also go home armed 
        with spiritual and practical tools and techniques that will help you respond to situations and 
        circumstances in your life more positively and lovingly.
    </div> -->
    <!--=================================== End Heal Your Life, Love Yourself ====================================-->