.detailsContent
{
    width: 100%;
    border: solid 1px black;
}

.detailsContent th,td
{
    border: solid 1px black;
    padding: 15px;
    text-align: left;  
}

.eventContainer
{
    background-color: #F0CFF4;
    margin: 2em 2em;
    overflow-x: auto;
    overflow-y:auto;
}

.eventDetailsContainer
{
    background-color: #e7a3ef;
    width:100%;
    color:black;
}

.event {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}

.images {
    display: flex;
    flex-direction: row;
}

.image {
    width: 23%;
    height: 180px;
    margin: 0 1%;
}

.eventHyperlink
{
    color: black;
}

.detailsIconImage
{
    width:2%;
    margin: 1em;
    width: 1.1em;
}

eventHyperlink:hover {
    text-decoration: none;
}

.center
{
  text-align: center;  
  color: #29bdcd !important;
}

.super-header {
    font-size: 1.1em;
}

.header {
    padding: 2% 0;
}

@media (max-width: 600px) {
    .images {
        display: flex;
        flex-direction: column;
    }
    .image {
        width: 100%;
        height: 180px;
        margin: 1% 0;
    }  
    .eventContainer
    {
        background-color: #F0CFF4;
        margin: 2em 0;
        overflow-x: auto;
        overflow-y: auto;
    }
}