<div class="backButtonDiv" *ngIf="backButtonDisplay=='show'">
  <a class="pointer" (click)="onBack()" style="float:left;width:100%">
      <span class="glyphicon glyphicon-arrow-left"></span>  Back
  </a>
</div>

<!--================================= Start Heal Your Life =====================================-->
<div class="content" *ngIf="trainingDetails == 'HealYourLife'">
  <img class="mainImage" src="../../assets/img/training/heal-your-life-details.jpg" />
  <h2 class="center">Heal Your Life</h2>
  <p>Trauma, pain, and suffering can affect a family for generations. The issues we struggle with
    in life—including relationships, health, and career—may be inherited from our parents,
    grandparents, or even older ancestral lines. Constellations therapy works to energetically
    untie the knots that bind us to traumatic family events in the past, so we can move toward an
    unburdened future of renewed potential. Bert Hellinger’s constellation philosophy deals with
    the connective roots of our lives and exceeds the boundaries of any one therapy or healing
    paradigm. The insights about hidden dynamics and intergenerational/ancestral connections
    developed by Bert and Sophie Hellinger offer powerful resources that are available to
    everyone, in any circumstances. Not only does constellation work reveal the actual sources
    of our issues—to offer deep and long-lasting resolutions—but also invites us to restore and
    renew our life........</p>
    
    <br />
    <br />

    <strong>Through interactive and experiential constellations, and large and small group work, we
    learn to:</strong>
    <br />
    <br />
    <ul>
      <li>Address difficult issues on an energetic and soul level.</li>
      <li>Align with the natural, essential rhythms of life.</li>
      <li>Experience ongoing creative movement toward wholeness.</li>
      <li>Unlock negative patterns and open to wellness.</li>
      <li>Discover the emotional, physical, and transcendent freedom that leads to real.
      change.......adapted from Hellingers description of FC..Omega USA..workshop”</li>
    </ul>
</div>
<!--=================================== End Heal Your Life ====================================-->


<!--================================= Start Family Constellation =====================================-->
<div class="content" *ngIf="trainingDetails == 'FamilyConstellation'">
  <img class="mainImage" src="../../assets/img/training/family-constellation.jpg" />
  <h2 class="center">Family Constellation</h2>
  <p>The Systemic Constellations approach (or Family Constellations, as it was originally known) was developed in the late
  1970s by Bert Hellinger, German psychotherapist, author and philosopher. Now in his eighties, Hellinger continues to
  be a leading, if somewhat controversial, voice in psychotherapy internationally. Despite the fact that apparently Hellinger
  did not initially publish on Constellation work, intending to keep it away from mainstream psychotherapy and academia,
  word about this new approach spread through Europe and the world, and continues to do so. Although it remains little-
  known in the psychological community, this new therapeutic approach has already been practised in countries all over the
  world.</p>
  <br />
  <br />
  <strong>About the process</strong>
  <br />
  <br />
  <p>Constellation is a form of group therapy where the energies of the group helps to guide and nurture the process for each
  individual to explore, understand and resolve their issues.
  The participants and facilitator sit in a circle creating a central ‘field’. After a short interview, the client is invited by the
  facilitator to select representatives from the group as they relate to their presenting issue and place them intuitively in
  positions within the central field. The client then sits and the process begins.</p>

  <p>The facilitator follows the guiding force of the ‘Field’ to allow the entanglements to be revealed. Very often, when the
  client, takes in this picture of the constellation, insight is created which itself maybe healing. Sometimes, the client may
  want to go one step further, and then, the facilitator attempts to guide the constellation towards a resolution. When this
  happens there is often a visible relief and relaxation on the part of the representatives and the client.
  However, it must be noted that Constellation therapy helps us to work what is, and not what we want it to be. 
  One can work with the family of the client and then this process is called Family Constellation. When the client works with
  abstract concepts, like, Love, Power, Success, Marriage etc it is called Structural Constellation.
  The whole purpose of the constellation is to bring the unconscious entanglements to conscious awareness and allow the
  field energy to work and realign the client’s consciousness. This may happen immediately for some and for other it may
  happen over a longer period of time.</p>
  <br />
  <br />

  <strong>This workshop is for anybody who has unanswered questions in his/her life
  which may be related to </strong>
  <br />
  <br />
  <ul>
    <li>Unrecognized blocks to success, marriage, creativity, harmonious relationships.</li>
    <li>Unresolved prominent relationships e.g. with parent, child or partner.</li>
    <li>Procrastination and unhealthy behavior inconsistent with intentions.</li> 
    <li>Persistent money/business problem.</li>
    <li>Unexplained feelings of sadness or anger.</li>
    <li>Feeling ‘stuck’ or ‘weighed down’ in life, not able to be oneself.</li>
    <li>Persistent body symptoms (such as obesity, anorexia, asthma, panic attacks, ulcer colitis, cancer). This work is
    complementary to medical care and not a substitute for it: thorough medical assessment and treatment is of
    course necessary first</li>
    <li>Finding it difficult to deal with an important life event such as early deaths or separations, exclusion or expulsion
    of a family member, major accidents or illnesses, complications during childbirth, adoptions, abortions</li>
    <li>There are patterns that seem resistant to change,  there is a persistent sticking point in individual therapy</li>
  </ul>
    
</div>
<!--=================================== End Family Constellation ====================================-->


<!--================================= Start Sound Healing =====================================-->
<div class="content" *ngIf="trainingDetails == 'SoundHealing'">
    <img class="mainImage" src="../../assets/img/training/sound-healing.jpg" />
    <h2 class="center">Heal Your Life</h2>
    <p>
      Sound therapists believe that our bodies contain &#39;energy frequencies&#39; and that sonic frequencies can be used to reattune
      these energies when they go off key. All you have to do is lie down and bask in the tuneful beauty of &#39;pure&#39; sound. </p>

      <br />
      <br />

      <strong>What is it?</strong>
      <br />
      <br />
      <p>Whether it&#39;s Mozart or Motown, music affects us all in different ways. But on a fundamental level, music is just organised
      sound. Sound therapy deconstructs music into pure sound, harnessing the knowledge that sound can have a powerful
      effect on our emotions.</p>
      <p>Sound therapists believe that we are all made up of different energy frequencies. They use sound frequencies to interact
      with these, thus attempting to rebalance the body&#39;s energy.</p>
      <p>Before each session, the practitioner will ask the client about their medical history and any current health problems. The
      practitioner will then adapt their treatment accordingly, using relaxing or stimulating sounds to try to rebalance the body -
      gongs, drums, bells, bowls, tuning forks and the human voice are all used. According to practitioner Lyz Cooper: &quot;Clients
      are wrapped up in [these sounds] like a cocoon, and allowed to go on a journey.&quot;</p>

      <br />
      <br />

      <strong>Who can do it?</strong>
      <br />
      <br />
      <p>Sound therapy is a complementary medicine designed to work alongside orthodox medicine. BAST attempts to treat
      individuals with fertility issues, chronic pain, cancer, stress-related illnesses, IBS, ME, tinnitus, mild depression, anxiety
      and arthritis. BAST founder Lyz Cooper believes: &quot;Whether you come for a regular tune-up or relaxation session, or have
      a chronic long-term illness, sound could help you to enjoy a better quality of life. Come for a regular tune-up or relaxation
      session, or have a chronic long-term illness, sound could help you to enjoy a better quality of life.</p>

      <br />
      <br />

      <strong>What results can you expect?</strong>
      <br />
      <br />
      <p>Sound therapy is said to help not only physical illness, but also help balance the emotions and quieten a busy mind. Most
      people feel calm and relaxed following treatment. For some, this feeling will last several days. You may also be given exercises
      to practise between treatments.</p>
      
  </div>
  <!--=================================== End Sound Healing ====================================-->

  <!--================================= Start Access Bar Consciousness =====================================-->
<div class="content" *ngIf="trainingDetails == 'AccessBarConsciousness'">
  <img class="mainImage" src="../../assets/img/training/access-bar-consciousness-details.jpg" />
  <h2 class="center">Access Bar Consciousness</h2>
    <p>Science claims everything in us &amp; around us is energy, so to change any aspect of our life it is important
    to change the energy!</p>
    <p>Access Bars works wonderfully on our energies to change different aspects on our life like relationship,
    money flow, career, body, health etc.</p>
    <p>Access Bars are 32 points on our head that connect to different aspects of your life &amp; when gently
    touched all the limitations, blocks, thoughts, ideas, attitudes, decisions, beliefs, feeling, emotions,
    patterns, point of view stored are released easily &amp; effortlessly.</p>
    <p>Recently it has been proved 1 hour of bars session is equal to 20 years of meditation.</p>
    <p>As a healer, after using Access Bars in my practice &amp; with every successive session I witnessed dramatic
    shifts in our &amp; client’s life. It worked wonderfully on Health Issue, Weight Issues, Relationships Issues,
    Sleep Issues, Personality, Peace, Anxiety, Stress, Addictions, Depression, Pain, Mental Disorders,
    Marriages, Finances Issues, Business, Career, Dyslexia, ADD, ADHD and much more.</p>
    <br />
    <br />


    <strong>As an Access Consciousness Bars Facilitator you are certified to:</strong>
    <br />
    <br />
    <ul>
      <li>Facilitate introductory talks on Access Bars®</li>
      <li>Teach the full Access Bars® Class</li>
      <li>Offer private sessions as a practitioner</li>
      <li>Host Access Bars® swaps</li>
      <li>Facilitate introductory classes based on various Access Consciousness books</li>
    </ul>
    <br />
    <br />


    <strong>The Benefits </strong>
    <br />
    <br />
    As there are Bars for every aspect of your life do you think it&#39;s possible that you could clear limitations in
    any aspect of your life?
    Would you like to clear any limitations relating to healing, body, control, awareness, creativity, hopes and
    dreams, sadness and joy, power, ageing, sex and money?
    Having your Bars run can have so many profound effects, including (but not limited to):
    <br />
    <br />
    <ul>
      <li>Reduced stress and worry</li>
      <li>Reduced mind chatter</li>
      <li>Increased energy</li>
      <li>Elimination of aches, pains and stiffness in the body</li>
      <li>Improved sleep</li>
      <li>Elimination of insomnia</li>
      <li>Getting out of depression</li>
      <li>Helps with Autism, ADD &amp; ADHD</li>
      <li>Decreased ageing</li>
      <li>And it can even help you lose weight!</li>
    </ul>
</div>
<!--=================================== End Access Bar Consciousness ====================================-->


<!--================================= Start Hypnotherapy =====================================-->
<div class="content" *ngIf="trainingDetails == 'Hypnotherapy'">
  <img class="mainImage" src="../../assets/img/training/hypnotherapy-details.jpg" />
  <h2 class="center">Hypnotherapy</h2>
  <p>Hypnotherapists trained by us in association with EKAA can work with depression, asthma, psoriasis,
    eczema, allergies, migraine, de addiction, relationship issues , fears phobias, pain management,
    weight management , eating disorders, dandruff, pimples, acne, back pain, joint pain, arthritis,  nail
    bitting, laziness, hairfall, PCOD, breathing problem, insomnia, accident and surgical trauma, etc...</p>
    <p>Hypnotherapy further leads to past life regression therapy for karma understanding, spiritual
    guidance, releasing oaths, vows and curses.</p>
    <p>Hypnotherapists can also help students to get rid of exam fear and anxiety, improve focus,
    concentration and performance...</p>
</div>
<!--=================================== End Hypnotherapy ====================================-->

<br />
<br />
<div *ngIf="backButtonDisplay=='show'">
  <a class="pointer" (click)="onBack()" style="float:left;width:100%">
      <span class="glyphicon glyphicon-arrow-left"></span>  Back
  </a>
</div>
