<h2 class="center"> Events </h2>

<!--============================== Upcoming Events =============================================-->
<div class="eventContainer">
  <a class="eventHyperlink" (click)="toggleDetails('UpcomingEvents')">
    <img class="detailsIconImage" [src]="updownUpcomingEvents">
    Upcoming Events
  </a>
  <div class="eventDetailsContainer" *ngIf="statusUpcomingEvents == 'open';">
    <table class="detailsContent">
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Event</th>
        <th>Facilitator</th>
      </tr>

      <tr>
        <td> 24th Sept 2019 </td>
        <td> 2.00 P.M - 6.00 P.M </td>
        <td> Family Constellation Workshop </td>
        <td> Couple of Therapists </td>
      </tr>
      
    </table>
  </div>
</div>
<!--================================================================================================-->

<!--============================== Regular Sessions =============================================-->
<div class="eventContainer">
  <a class="eventHyperlink" (click)="toggleDetails('RegularSessions')">
    <img class="detailsIconImage" [src]="updownRegularSessions">
    Regular Sessions
  </a>
  <div class="eventDetailsContainer" *ngIf="statusRegularSessions == 'open';">
    <table class="detailsContent">
      <tr>
        <th> Time </th>
        <th> Monday </th>
        <th> Tuesday </th>
        <th> Wednesday </th>
        <th> Thursday </th>
        <th> Friday </th>
        <th> Saturday </th>
        <th> Sunday </th>
      </tr>
      <tr>
        <td> 09.30 A.M – 10.30 A.M </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> YOGA </td>
        <td> YOGA </td>
      </tr>
      <tr>
        <td> 11.00 A.M – 12.00 P.M </td>
        <td> </td>
        <td> </td>
        <td> MOVEMENT THERAPY </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> 05.00 P.M – 06.00 P.M </td>
        <td> </td>
        <td> ZUMBA </td>
        <td> </td>
        <td> ZUMBA </td>
        <td> MOVEMENT THERAPY </td>
        <td> </td>
        <td> DRAWING </td>
      </tr>
      <tr>
        <td> 05.00 P.M – 06.30 P.M </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> DRAWING </td>
        <td> MEDITATION </td>
      </tr>
      <tr>
        <td> 06.30 P.M – 08.00 P.M </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> MARTIAL DANCE </td>
      </tr>
      <tr>
        <td> 06.00 P.M – 07.00 P.M </td>
        <td> YOGA </td>
        <td> YOGA </td>
        <td> </td>
        <td> YOGA </td>
        <td> </td>
        <td> ZUMBA </td>
        <td> </td>
      </tr>
      <tr>
        <td> 07.00 P.M – 08.00 P.M </td>
        <td> YOGA </td>
        <td> </td>
        <td> MEDITATION </td>
        <td> YOGA </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td> 07.00 P.M – 09.00 P.M </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> MARTIAL DANCE </td>
        <td> </td>
        <td> </td>
      </tr>
    </table>
  </div>
</div>
<!--================================================================================================-->

<!--============================== Past Events =============================================-->
<div class="eventContainer">
  <a class="eventHyperlink" (click)="toggleDetails('PastEvents')">
    <img class="detailsIconImage" [src]="updownPastEvents">
    Past Events
  </a>
  <div class="eventDetailsContainer" *ngIf="statusPastEvents == 'open';">
    <div class="event">
      <div class="header"> Hypnotherapy Level-1</div>
      <div class="imageContainer">
        <div class="images">
          <img class="image" src="../assets/img/past-events/Hypnotherapy/1.jpg">
          <img class="image" src="../assets/img/past-events/Hypnotherapy/2.jpg">
          <img class="image" src="../assets/img/past-events/Hypnotherapy/3.jpg">
          <img class="image" src="../assets/img/past-events/Hypnotherapy/4.jpg">
        </div>
      </div>
    </div>
    <div class="event">      
      <div class="header"> Summer Camp</div>
      <div class="imageContainer">
        <div class="images">
          <img class="image" src="../assets/img/past-events/SummerCamp/1.jpg">
          <img class="image" src="../assets/img/past-events/SummerCamp/2.jpg">
          <img class="image" src="../assets/img/past-events/SummerCamp/3.jpg">
          <img class="image" src="../assets/img/past-events/SummerCamp/4.jpg">
        </div>
      </div>
    </div>
    <div class="event">
      <div class="header"> Learn Tarrot </div>
      <div class="imageContainer">
        <div class="images">
          <img class="image" src="../assets/img/past-events/LearnTarrot/1.jpg">
          <img class="image" src="../assets/img/past-events/LearnTarrot/2.jpg">
          <img class="image" src="../assets/img/past-events/LearnTarrot/3.jpg">
          <img class="image" src="../assets/img/past-events/LearnTarrot/4.jpg">
        </div>
      </div>
    </div>
    <div class="event">
      <div class="header"> Heal Your Life, Love Yourself </div>
      <div class="imageContainer">
        <div class="images">
          <img class="image" src="../assets/img/past-events/HealYourLife/1.jpg">
          <img class="image" src="../assets/img/past-events/HealYourLife/2.jpg">
          <img class="image" src="../assets/img/past-events/HealYourLife/3.jpg">
          <img class="image" src="../assets/img/past-events/HealYourLife/4.jpg">
        </div>
      </div>
    </div>
    <div class="event">
      <div class="header"> Family Constellation </div>
      <div class="imageContainer">
        <div class="images">
          <img class="image" src="../assets/img/past-events/FamilyConstellation/1.jpg">
          <img class="image" src="../assets/img/past-events/FamilyConstellation/2.jpg">
          <img class="image" src="../assets/img/past-events/FamilyConstellation/3.jpg">
          <img class="image" src="../assets/img/past-events/FamilyConstellation/4.jpg">
        </div>
      </div>
    </div>
    <div class="event">
      <div class="header"> Sound Healing </div>
      <div class="imageContainer">
        <div class="images">
          <img class="image" src="../assets/img/past-events/SoundHealing/1.jpg">
          <img class="image" src="../assets/img/past-events/SoundHealing/2.jpg">
          <img class="image" src="../assets/img/past-events/SoundHealing/3.jpg">
          <img class="image" src="../assets/img/past-events/SoundHealing/4.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<!--================================================================================================-->

<!--============================== Past Events List =============================================-->
<div class="eventContainer">
  <a class="eventHyperlink" (click)="toggleDetails('PastEventsList')">
    <img class="detailsIconImage" [src]="updownPastEventsList">
    Past Events List
  </a>
  <div class="eventDetailsContainer" *ngIf="statusPastEventsList == 'open';">
    <table class="detailsContent">
      <tr>
        <th> Date </th>
        <th> Time </th>
        <th> Event </th>
        <th> Facilitator </th>
      </tr>

      <tr>
        <td> 6th Sept 2019 </td>
        <td> 2.00 P.M - 6.00 P.M </td>
        <td> Family Constellation Workshop </td>
        <td> Couple of Therapists </td>
      </tr>

      <tr>
        <td> 23rd Aug 2019 </td>
        <td> 2.00 P.M - 6.00 P.M </td>
        <td> Family Constellation Workshop </td>
        <td> Couple of Therapists </td>
      </tr>

      <tr>
        <td> 3rd Aug 2019 </td>
        <td> 2.00 P.M - 6.00 P.M </td>
        <td> Family Constellation Workshop </td>
        <td> Couple of Therapists </td>
      </tr>

      <tr>
        <td>6th and 07th July 2019</td>
        <td>10.00 A.M - 06.00 P.M</td>
        <td>Lead Life By Choice</td>
        <td>Jaba Sen Menon</td>
      </tr>

      <tr>
        <td> 5th july 2019 </td>
        <td> 2.00 P.M - 6.00 P.M </td>
        <td> Family Constellation Workshop </td>
        <td> Couple of Therapists </td>
      </tr>

      <tr>
        <td> 22nd June 2019 </td>
        <td> 2.00 P.M - 6.00 P.M </td>
        <td> Family Constellation Workshop </td>
        <td> Couple of Therapists </td>
      </tr>

      <tr>
        <td>15th and 16th June 2019</td>
        <td>10.00 A.M - 06.00 P.M</td>
        <td>Heal Your Life, Love Yourself</td>
        <td>Chayanika Bhiwaniwala</td>
      </tr>

      <tr>
        <td> 31st May 2019 </td>
        <td> 2.00 P.M - 6.00 P.M </td>
        <td> Family Constellation Workshop </td>
        <td> Couple of Therapists </td>
      </tr>

      <tr>
        <td>1st May 2019</td>
        <td>03.00 P.M - 06.30 P.M</td>
        <td>From the “Treasure Bag … A Bouquet of Unique Self-Empowerment tools!” – Part I</td>
        <td>Dr.Bindu Y Gupta (Mumbai)</td>
      </tr>

      <tr>
        <td>30th April 2019</td>
        <td>03.00 P.M - 06.30 P.M</td>
        <td>Unlock the Body Intelligence</td>
        <td>Dr.Bindu Y Gupta (Mumbai)</td>
      </tr>

      <tr>
        <td>29th April 2019 - 2nd May 2019</td>
        <td>10.00 A.M - 02.00 P.M</td>
        <td>Munay-Ki Teachers Training</td>
        <td>Dr.Bindu Y Gupta (Mumbai)</td>
      </tr>

      <tr>
        <td>29th April 2019</td>
        <td>03.00 P.M - 06.30 P.M</td>
        <td>“The 13th Rite of Munay-Ki: The Rite of the Womb!” Initiation & Teachers Training</td>
        <td>Dr.Bindu Y Gupta (Mumbai)</td>
      </tr>

      <tr>
        <td>28th April 2019</td>
        <td>10.00 A.M - 06.00 P.M</td>
        <td>Systemetic Constellation Workshop</td>
        <td>Dr.Bindu Y Gupta (Mumbai)</td>
      </tr>

      <tr>
        <td>27th April 2019</td>
        <td> 09.30 A.M - 03.00 P.M</td>
        <td>Lama Fera Basics & Munay-Ki Rites: Part I</td>
        <td>Dr.Bindu Y Gupta (Mumbai)</td>
      </tr>

      <tr>
        <td>27th April 2019</td>
        <td>04.30 P.M - 06.30 P.M</td>
        <td>Children’s Special</td>
        <td>Dr.Bindu Y Gupta (Mumbai)</td>
      </tr>

      <tr>
        <td>26th April 2019</td>
        <td>06.00 P.M - 07.30 P.M</td>
        <td>A Trailer of Magical Journey</td>
        <td>Dr.Bindu Y Gupta (Mumbai)</td>
      </tr>

      <tr>
        <td> 8th Mar 2019 </td>
        <td> 2.00 P.M - 6.00 P.M </td>
        <td> Family Constellation Workshop </td>
        <td> Couple of Therapists </td>
      </tr>

      <tr>
        <td> 6th April 2019 </td>
        <td> 2.00 P.M - 6.00 P.M </td>
        <td> Family Constellation Workshop </td>
        <td> Couple of Therapists </td>
      </tr>

      <tr>
        <td> 4th Mar 2019 </td>
        <td> 5.30 P.M - 7.30 P.M </td>
        <td> Meditative Session, celebrating the Universal Energies of MAHASHIVRATRI </td>
        <td> Subhajit Sarkar </td>
      </tr>

      <tr>
        <td> 1st Feb - 4th Mar 2019 (Every Monday & Friday) </td>
        <td> 6.00 P.M - 7.30 P.M </td>
        <td> Yogsutra </td>
        <td> Subhajit Sarkar </td>
      </tr>

      <tr>
        <td> 12th & 13th Jan 2019 </td>
        <td> 10.00 A.M - 6.00 P.M </td> 
        <td> Divine Union of Consciousness and energy </td>  
        <td> Aditya Dutta </td>
      </tr>
      <tr>
        <td> 11th Jan 2019 </td>
        <td> 5.00 P.M - 6.30 P.M </td>
        <td> Discover & Heal </td>
        <td> Aditya Dutta </td> 
      </tr>
      <tr>
        <td> 23rd Nov 2018 </td>
        <td> 5.30 P.M - 7.30 P.M </td>
        <td> Meditative Session </td>
        <td> Subhojit Sarkar </td> 
      </tr>
      <tr>
        <td> 8th Oct 2018 </td>
        <td> 5.30 P.M - 7.30 P.M </td>
        <td> Sharad Navratri Yogaparikra </td>
        <td> Subhojit Sarkar </td>
      </tr>
      <tr>
        <td> 27th July </td>
        <td> 6.30 P.M - 8.00 P.M </td>
        <td> Full Moon Meditation </td>
        <td> Subhojit Sarkar </td>
      </tr>
      <tr>
        <td> 6th June </td>
        <td> 9.30 A.M - 6.00 P.M </td>
        <td> ANGELICA YANA Workshop </td>
        <td> Haritha Nayak </td>
      </tr>
      <tr>
        <td> 4th June </td>
        <td> 5.15 P.M - 7.00 P.M </td>
        <td> ANGELICA YANA Workshop (Free Session)</td>
        <td> Haritha Nayak </td>
      </tr>
      <tr>
        <td> 29th May </td>
        <td> 5.00 P.M - 7.00 P.M </td>
        <td> ANGELICA Mantra Meditation</td>
        <td> Sumita Chatterjee </td>
      </tr>
      <tr>
        <td> 6th May 2018 </td>
        <td> - </td>
        <td> Codes of Light </td>
        <td> Sushma Saraf </td>
      </tr>
      <tr>
        <td> 5th May 2018 </td>
        <td> - </td>
        <td> DNA - Discover New Advance </td>
        <td> Sushma Saraf </td>
      </tr>
      <tr>
        <td> 3rd May 2018 </td>
        <td> 6.00 P.M - 7.30 P.M </td>
        <td> DNA - Discover New Advance & Codes of Light </td>
        <td> Sushma Saraf </td>
      </tr>
      <tr>
        <td> 29th April 2018 </td>
        <td> - </td>
        <td> Budha Purnima - Yogic Journey to a blissful self </td>
        <td> Subhajit Sarkar </td>
      </tr>
      <tr>
        <td> 2nd, 6th ,9th ,13th ,16th ,20th ,23rd ,27th ,29th April 2018 </td>
        <td> 6.30 P.M - 8.00 P.M </td>
        <td> Budha Purnima - Yogic Journey to a blissful self </td>
        <td> Subhajit Sarkar </td>
      </tr>
      <tr>
        <td>14th Feb 2018</td>
        <td>06.00 P.M - 08.00 P.M</td>
        <td>Yogic Workshop for Maha Shiva Ratri</td>
        <td>Subhajit Sarkar</td>
      </tr>
      <tr>
        <td>24th & 25th Feb 2018</td>
        <td>10.00 A.M - 06.00 P.M</td>
        <td>Sound Healing Certified Course</td>
        <td>Priyanka Jay Patel(Mumbai)</td>
      </tr>
      <tr>
        <td>3rd Dec 2017</td>
        <td>10.00 A.M - 05.00 P.M</td>
        <td>Breath a gateway to new you</td>
        <td>Sushma Saraf</td>
      </tr>
      <tr>
        <td>2nd Dec 2017</td>
        <td>10.00 A.M - 06.00 P.M</td>
        <td>DNA LEVEL 1</td>
        <td>Sushma Saraf</td>
      </tr>
      <tr>
        <td>11th & 12th Nov 2017</td>
        <td>09.30 A.M - 06.30 P.M</td>
        <td>Heal Your Life, Love Yourself</td>
        <td>Chayanika Bhiwaniwala</td>
      </tr>
      <tr>
        <td>16th Sep 2017</td>
        <td>05.00 P.M - 06.00 P.M</td>
        <td>Dance Fitness</td>
        <td>Arun Charles</td>
      </tr>
      <tr>
        <td>06th & 08th Sep 2017</td>
        <td>06.30 P.M - 08.30 P.M</td>
        <td>Movement Therapy Based On Yoga</td>
        <td>Shubhajit Sarkar</td>
      </tr>
      <tr>
        <td>26th Aug 2017</td>
        <td>05.00 P.M - 06.00 P.M</td>
        <td>Contemporary Dance Class</td>
        <td>Arun Charles</td>
      </tr>
      <tr>
        <td>19th Aug 2017</td>
        <td>05.00 P.M - 06.00 P.M</td>
        <td>Dance Fitness</td>
        <td>Arun Charles</td>
      </tr>
      <tr>
        <td>29th & 30th July 2017</td>
        <td>09.30 A.M - 06.30 P.M</td>
        <td>Learn the A to Z of Tarot in just 2 days</td>
        <td>Ssanket Jayant Popat(Mumbai)</td>
      </tr>

      <tr>
        <td>10th & 11th June 2017</td>
        <td>09.30 A.M – 06.30 P.M</td>
        <td>Hypnotherapy Level-1(EKAA) Workshop</td>
        <td>Ritu Kabra</td>
      </tr>
      <tr>
        <td>06th,07th & 08th June 2017</td>
        <td>10.30 A.M – 01.00 P.M</td>
        <td>Summer Camp for Children</td>
        <td>Juhi and Richi</td>
      </tr>
      <tr>
        <td> 08th April 2017 </td>
        <td> 09.30 A.M – 06.30 P.M </td>
        <td> Family Constellation Workshop </td>
        <td> Radhika Mansata </td>
      </tr>
      <tr>
        <td> 01st &amp; 02nd April 2017 </td>
        <td> 10.00 A.M – 05.30 P.M </td>
        <td> Learn Tarot Workshop </td>
        <td> S. David(Goa) </td>
      </tr>
      <tr>
        <td> 25th &amp; 26th Mar 2017 </td>
        <td> 09.30 A.M – 06.30 P.M </td>
        <td> Heal Your Life, Love Yourself Workshop </td>
        <td> Chayanika Bhiwaniwala </td>
      </tr>
      <tr>
        <td> 25th Feb 2017 </td>
        <td> 06.00 P.M – 07.00 P.M </td>
        <td> Zumba Session </td>
        <td> Vinaya Shenoy </td>
      </tr>
      <tr>
        <td>28th Jan 2017 </td>
        <td> 05.30 P.M – 07.30 P.M </td>
        <td> Gong Sound Workshop </td>
        <td> Gong Yogi San Jay </td>
      </tr>
      <tr>
        <td> 14th &amp; 15th Jan 2017 </td>
        <td> 10.00 A.M – 05.00 P.M </td>
        <td> Sound Healing Workshop </td>
        <td> Priyanka Jay Patel </td>
      </tr>
      <tr>
        <td> 09th &amp; 10th July 2016 </td>
        <td> 09.30 A.M – 04.30 P.M </td>
        <td> Love Yourself Heal Your life Workshop </td>
        <td> Chayanika Bhiwaniwala </td>
      </tr>
      <tr>
        <td> 01st July 2016 </td>
        <td> 06.00 A.M – 07.30 P.M </td>
        <td> Support Group Workshop </td>
        <td> Tanveer Kaur &amp; Chayanika Bhiwaniwala </td>
      </tr>
      <tr>
        <td> 18th June 2016 </td>
        <td> 10.30A.M – 01.30P.M </td>
        <td> Super Fast Memory Workshop(Level-1) </td>
        <td> Naresh Agarwal </td>
      </tr>
      <tr>
        <td> 17th June 2016 </td>
        <td> 04.00P.M – 07.00 P.M </td>
        <td> Music Therapy Workshop </td>
        <td> Sudipto Sir </td>
      </tr>
      <tr>
        <td> 11th June 2016 </td>
        <td> 10.30 A.M – 05.00 P.M </td>
        <td> SWAYAMBHU-A Self Healing Workshop </td>
        <td> Sangeeta Dasgupta </td>
      </tr>
      <tr>
        <td> 10th June 2016 </td>
        <td> 10.30 A.M – 04.30 P.M </td>
        <td> Mystic Miracles Workshop </td>
        <td> Sangeeta Dasgupta </td>
      </tr>
      <tr>
        <td> 28th May 2016 </td>
        <td> 10 A.M – 06 P.M </td>
        <td> Family Constellation Workshop </td>
        <td> Radhika Mansata </td>
      </tr>
      <tr>
        <td> 13th May 2016 </td>
        <td> 04 P.M – 07 P.M </td>
        <td> Diet and Detox Workshop </td>
        <td> Megha Jalan </td>
      </tr>
      <tr>
        <td> 21st April 2016 </td>
        <td> 04 P.M – 07 P.M </td>
        <td> Unlock Your Body Intelligence Workshop </td>
        <td> Dr.Bindu Gupta(Mumbai) </td>
      </tr>
      <tr>
        <td> 18th-20th April 2016</td>
        <td> 06.30 P.M – 08 P.M </td>
        <td> Tap into your inner potential Workshop </td>
        <td> Dr.Bindu Gupta(Mumbai) </td>
      </tr>
      <tr>
        <td> 18th-20th April 2016 </td>
        <td> 04 P.M – 05.30 P.M </td>
        <td> Children’s Special Workshop </td>
        <td> Dr.Bindu Gupta(Mumbai) </td>
      </tr>
      <tr>
        <td> 17th April 2016 </td>
        <td> 10 A.M – 06 P.M </td>
        <td> Family Constellation Workshop </td>
        <td> Dr.Bindu Gupta(Mumbai) </td>
      </tr>
      <tr>
        <td> 16th April 2016 </td>
        <td> 04 P.M – 07 P.M </td>
        <td> Eurythmy Workshop </td>
        <td> Dr.Bindu Gupta(Mumbai) </td>
      </tr>
      <tr>
        <td> 15th April 2016 </td>
        <td> 04 P.M – 07 P.M </td>
        <td> Munay Ki Rites Workshop </td>
        <td> Dr.Bindu Gupta(Mumbai) </td>
      </tr>
      <tr>
        <td> 03rd April 2016 </td>
        <td> 10 A.M – 06 P.M </td>
        <td> Access Bars Workshop </td>
        <td> Ritvika Naidu </td>
      </tr>
      <tr>
        <td> 19th March 2016 </td>
        <td> 10 A.M – 06 P.M </td>
        <td> Constellation Workshop </td>
        <td> Dr.Sangbarta Chattapadhyay &amp; Dr. Namita Bhuta </td>
      </tr>
      <tr>
        <td> 19th March 2016 </td>
        <td> 06 P.M – 08 P.M </td>
        <td> Play Thora (Parenting) Workshop </td>
        <td> Urbi Nag </td>
      </tr>
      <tr>
        <td> 16th March 2016 </td>
        <td> 05 P.M – 06 P.M </td>
        <td> Math Gym Workshop </td>
        <td> Indranil Sir </td>
      </tr>
      <tr>
        <td> 10th March 2016 </td>
        <td> 07 P.M – 08 P.M </td>
        <td> Ashtanga Yoga Workshop </td>
        <td> Yoga Expert Harsha Banthia </td>
      </tr>
      <tr>
        <td> 08th March 2016 </td>
        <td> 10 A.M – 01 P.M </td>
        <td> SELF DEFENCE workshop </td>
        <td> Sreelakshmi Gupta &amp; Shibashish Banerjee </td>
      </tr>
      <tr>
        <td> 04th March 2016 </td>
        <td> 11 A.M – 12 P.M </td>
        <td> Math Workshop </td>
        <td> Indrajit Sir</td>
      </tr>
      <tr>
        <td> 28th Feb 2016 </td>
        <td> 10 A.M – 11 A.M </td>
        <td> Healing is in your hand workshop </td>
        <td> Mamtaa Agarwal(Hyderabad) </td>
      </tr>
      <tr>
        <td> 28th Feb 2016 </td>
        <td> 11.30 A.M – 12.30 P.M </td>
        <td> Heal your little ones with Mantras,Mudras &amp; Su Jok workshop </td>
        <td> Mamtaa Agarwal(Hyderabad) </td>
      </tr>
      <tr>
        <td> 21st Feb 2016 </td>
        <td> 10 A.M – 06 P.M </td>
        <td> Healing is in your hand workshop </td>
        <td> Anjana Madam </td>
      </tr>
      <tr>
        <td> 14th Feb 2016 </td>
        <td> 06 P.M – 07.30 P.M </td>
        <td> The Revival Day </td>
        <td> Subhajit Sarkar </td>
      </tr>
      <tr>
        <td> 30th Jan 2016 </td>
        <td> 10 A.M – 6 P.M </td>
        <td> Family Constellation Workshop </td>
        <td> Radhika Mansata </td>
      </tr>
      <tr>
        <td> 16th Jan 2016 </td>
        <td> 04.00P.M – 06.00P.M </td>
        <td> Su Jok Therapy </td>
        <td> Mamtaa Agarwal </td>
      </tr>
      <tr>
        <td> 10th Jan 2016 </td>
        <td> 10.00 A.M – 12.00 P.M </td>
        <td> Psychological Immune Session </td>
        <td> </td>
      </tr>
      <tr>
        <td> 26th Dec 2015 </td>
        <td> 06.00P.M – 07.00P.M </td>
        <td> Party Steps Dance </td>
        <td> Satish Raut </td>
      </tr>
      <tr>
        <td> 22nd Dec 2015 </td>
        <td> 05.00P.M – 06.00P.M </td>
        <td> Party Steps Dance </td>
        <td> Satish Raut </td>
      </tr>
      <tr>
        <td> 29th Nov </td>
        <td> 11am – 1pm </td>
        <td> Dealing With Stress(14-17) </td>
        <td> Urbi Nag</td>
      </tr>
      <tr>
        <td> Date 28thNov </td>
        <td> 5pm – 7pm </td>
        <td> Self Image and Self Esteem (11-14 yrs) </td>
        <td> Urbi Nag </td>
      </tr>
      <tr>
        <td> 27th Nov 2015 </td>
        <td> 6pm – 8pm </td>
        <td> Self Control (Age group – 7-10) </td>
        <td> Urbi Nag </td>
      </tr>
      <tr>
        <td> 24th Nov 2015 </td>
        <td> 7pm </td>
        <td> Diwali special Yoga </td>
        <td> </td>
      </tr>
      <tr>
        <td> 21st Nov 2015 </td>
        <td> 10.30am – 4.30pm </td>
        <td> Connect the Hearts </td>
        <td> Rajnee R Garg </td>
      </tr>
      <tr>
        <td> 28th Oct 2015 </td>
        <td> 05.00PM – 07.00PM </td>
        <td> Moon Meditation for Dancing Souls </td>
        <td> S. Krsnaswasa </td>
      </tr>
      <tr>
        <td> 26th -27th Sep 2015 </td>
        <td> 09.00A.M-06.00P.M </td>
        <td> SELF AND BEYOND-Hypnotherapy Level-1 </td>
        <td> Ritu Kabra </td>
      </tr>
      <tr>
        <td> 26th -27th Sep 2015 </td>
        <td> 09.30A.M-06.30P.M </td>
        <td> SELF AND BEYOND-Love yourself, Heal your life- A powerful and life changing workshop </td>
        <td> Chayanika Bhiwaniwala </td>
      </tr>
      <tr>
        <td> 05th-06th Sep 2015 </td>
        <td> 09.30A.M-05.30P.M </td>
        <td> SELF AND BEYOND-Advance Angel Therapy Course </td>
        <td> Sangeeta Dasgupta </td>
      </tr>
      <tr>
        <td> 04th Sep 2015 </td>
        <td> 05.30P.M-07.30P.M </td>
        <td> SELF AND BEYOND-Divine Dowsing Workshop :Uncover Hidden Truths </td>
        <td> Sangeeta Dasgupta </td>
      </tr>
      <tr>
        <td> 03rd-04th Sep 2015 </td>
        <td> 09.30A.M-05.30P.M </td>
        <td> SELF AND BEYOND-Awakening with the Angels </td>
        <td> Sangeeta Dasgupta </td>
      </tr>
      <tr>
        <td> 02nd Aug 2015 </td>
        <td> 05.00P.M-06.30P.M </td>
        <td> SELF AND BEYOND-Meditative Arts </td>
        <td> Subhajit Sarkar </td>
      </tr>
      <tr>
        <td> 01st Aug 2015 </td>
        <td> 04.00P.M-06.00P.M </td>
        <td> SELF AND BEYOND-Art &amp; Craft Class </td>
        <td> Rabin Sir </td>
      </tr>
      <tr>
        <td> 30th July 2015 </td>
        <td> 05.00P.M-06.00P.M </td>
        <td> SELF AND BEYOND-Zumba Workshop </td>
        <td> ZIN Keya Paul &amp; ZIN Satish Raut </td>
      </tr>
      <tr>
        <td> 26th July 2015 </td>
        <td> 09.00A.M-06.00P.M </td>
        <td> SELF AND BEYOND-Access Consciousness Bars Workshop </td>
        <td> Shamreen Sethi </td>
      </tr>
      <tr>
        <td> 25th July 2015 </td>
        <td> 09.00A.M-06.00P.M </td>
        <td> SELF AND BEYOND-Access Consciousness Bars Workshop </td>
        <td> Deipti Garg </td>
      </tr>
      <tr>
        <td> 21st July 2015 </td>
        <td> 05.00P.M-06.00P.M </td>
        <td> SELF AND BEYOND-Zumba Workshop </td>
        <td> ZIN Keya Paul &amp; ZIN Satish Raut </td>
      </tr>
      <tr>
        <td> 27th June 2015 </td>
        <td> 06.00P.M-07.30P.M </td>
        <td> SELF AND BEYOND-Meditation on Healing the Soul through Chakras </td>
        <td> Paulami R Mukherjee </td>
      </tr>
      <tr>
        <td> 01st &amp; 02nd July 2015 </td>
        <td> 09.30A.M-06.30P.M </td>
        <td> SELF AND BEYOND-Basic Course Level 1 in Clinical Hypnosis </td>
        <td> Ritu Kabra </td>
      </tr>
      <tr>
        <td> 21st June 2015 </td>
        <td> 09.30A.M-12.30P.M </td>
        <td> SELF AND BEYOND-Body,Mind and Soul Conditioning Workshop </td>
        <td> Harsha Banthia,Chayanika Bhiwaniwala &amp; Subhajit Sarkar </td>
      </tr>
      <tr>
        <td> 08th-09th June 2015 </td>
        <td> 09.30A.M-05.30P.M </td>
        <td> SELF AND BEYOND-Awakening with the Angels </td>
        <td> Sangeeta Dasgupta </td>
      </tr>
      <tr>
        <td> 20th-21st Jun 2015 </td>
        <td> 09.30A.M-06.30P.M </td>
        <td> SELF AND BEYOND-Love yourself, Heal your life- A powerful and life changing workshop </td>
        <td> Chayanika Bhiwaniwala </td>
      </tr>
      <tr>
        <td> 13th May 2015 </td>
        <td> 05.00P.M-06.00P.M </td>
        <td> SELF AND BEYOND-Martial Rhythm workshop </td>
        <td> Subhajit Sarkar </td>
      </tr>
      <tr>
        <td> 12th Apr 2015 </td>
        <td> 10.00A.M-12.00P.M </td>
        <td> SELF AND BEYOND-Kids Yoga Workshop </td>
        <td> Harsha Banthia </td>
      </tr>
      <tr>
        <td> 11th Apr 2015 </td>
        <td> 09.00A.M-12.00P.M </td>
        <td> SELF AND BEYOND-Surya Namaskar </td>
        <td> Harsha Banthia </td>
      </tr>
      <tr>
        <td> 13th &amp; 14th Dec 2014 </td>
        <td> 09.30A.M-06.30P.M </td>
        <td> SELF AND BEYOND- Love yourself, Heal your life- A powerful and life changing workshop </td>
        <td> Chayanika Bhiwaniwala </td>
      </tr>
      <tr>
        <td> 07th Dec 2014 </td>
        <td> 09.00A.M-11.00A.M </td>
        <td> SELF AND BEYOND-Yoga Nidra Workshop </td>
        <td> Harsha Banthia </td>
      </tr>
      <tr>
        <td> 29th Nov-03rd Dec 2014 </td>
        <td> 10.00A.M-06.00P.M </td>
        <td> SELF AND BEYOND-Access Conciousness Workshop </td>
        <td> Roopali Bajaj </td>
      </tr>
      <tr>
        <td> 22nd Nov 2014 </td>
        <td> 09.00A.M-11.00A.M </td>
        <td> SELF AND BEYOND-Yoga Nidra Workshop </td>
        <td> Harsha Banthia </td>
      </tr>
      <tr>
        <td> 08th Nov 2014 </td>
        <td> 11.00A.M-04.00P.M </td>
        <td> SELF AND BEYOND-How to be a smart learner </td>
        <td> Meetu Chawla </td>
      </tr>
      <tr>
        <td> 18th-20th Oct 2014 </td>
        <td> 10.00A.M-06.30P.M </td>
        <td> SELF AND BEYOND-Family and systemic Constellations Training (3B) </td>
        <td> Master Yuval and Master Mhorgan </td>
      </tr>
      <tr>
        <td> 14th-16th Oct 2014 </td>
        <td> 10.00A.M-06.30P.M </td>
        <td> SELF AND BEYOND-Family and systemic Constellations Training (3A) </td>
        <td> Master Yuval and Master Mhorgan </td>
      </tr>
      <tr>
        <td> 20th Sept 2014 </td>
        <td> 10.00A.M-06.30P.M </td>
        <td> SELF AND BEYOND-Systemic and Family Constellation Workshop </td>
        <td> Dr. Sangbarta Chattopadhyay &amp; Dr. Namita Bhuta </td>
      </tr>
      <tr>
        <td> 14th Sept 2014 </td>
        <td> 02.00P.M-05.30P.M </td>
        <td> SELF AND BEYOND-Divine Dowsing Workshop </td>
        <td> Rajnee R Garg </td>
      </tr>
      <tr>
        <td> 13th Sept 2014 </td>
        <td> 11.00A.M-04.00P.M </td>
        <td> SELF AND BEYOND-THE ART &amp; SCIENCE OF LEARNING </td>
        <td> Meetu Chawla </td>
      </tr>
      <tr>
        <td> 13th &amp; 14th Sept 2014 </td>
        <td> 09.30A.M-06.30P.M </td>
        <td> SELF AND BEYOND- Love yourself, Heal your life- A powerful and life changing workshop </td>
        <td> Chayanika Bhiwaniwala </td>
      </tr>
      <tr>
        <td> 14th Aug 2014 </td>
        <td> 10.00A.M-06.00P.M </td>
        <td> SELF AND BEYOND-Access Level 1 Day 2 </td>
        <td> Roopali Bajaj </td>
      </tr>
      <tr>
        <td> 13th Aug 2014 </td>
        <td> 10.00A.M-06.00P.M </td>
        <td> SELF AND BEYOND-Access Level 1 Day 1 </td>
        <td> Roopali Bajaj </td>
      </tr>
      <tr>
        <td> 12th Aug 2014 </td>
        <td> 10.00A.M-06.00P.M </td>
        <td> SELF AND BEYOND-Access Foundation Day 2 </td>
        <td> Roopali Bajaj </td>
      </tr>
      <tr>
        <td> 11th Aug 2014 </td>
        <td> 10.00A.M-06.00P.M </td>
        <td> SELF AND BEYOND-Access Foundation Day 1 </td>
        <td> Roopali Bajaj </td>
      </tr>
      <tr>
        <td> 10th Aug 2014 </td>
        <td> 10.00A.M-06.00P.M </td>
        <td> SELF AND BEYOND-FREE BARS OR MINI WKSHOP FOR CHILDREN </td>
        <td> Roopali Bajaj </td>
      </tr>
      <tr>
        <td> 09th Aug 2014 </td>
        <td> 04.00P.M-06.00P.M </td>
        <td> SELF AND BEYOND-Are you listening to your Body ? Workshop </td>
        <td> Roopali Bajaj </td>
      </tr>
      <tr>
        <td> 09th Aug 2014 </td>
        <td> 01.30P.M-03.30P.M </td>
        <td> SELF AND BEYOND-Being you Being magic Workshop </td>
        <td> Roopali Bajaj </td>
      </tr>
      <tr>
        <td> 09th Aug 2014 </td>
        <td> 10.00A.M-12.00P.M </td>
        <td> SELF AND BEYOND-Money Consciousness Workshop </td>
        <td> Roopali Bajaj </td>
      </tr>
      <tr>
        <td> 08th Aug 2014 </td>
        <td> 10.00A.M-06.00P.M </td>
        <td> SELF AND BEYOND-Access Bars Class </td>
        <td> Roopali Bajaj </td>
      </tr>
      <tr>
        <td> 07th Aug 2014 </td>
        <td> 05.00P.M-07.00P.M </td>
        <td> SELF AND BEYOND-Awareness Talk / 2 Tasters </td>
        <td> Roopali Bajaj </td>
      </tr>
      <tr>
        <td> 07th Aug 2014 </td>
        <td> 02.30P.M-04.30P.M </td>
        <td> SELF AND BEYOND-Conscious Relationships Workshop </td>
        <td> Roopali Bajaj </td>
      </tr>
      <tr>
        <td> 26th &amp; 27th July 2014 </td>
        <td> 09.30A.M-06.30P.M </td>
        <td> SELF AND BEYOND- Love yourself, Heal your life- A powerful and life changing workshop </td>
        <td> Chayanika Bhiwaniwala </td>
      </tr>
      <tr>
        <td> 28th June 2014 </td>
        <td> 05.00P.M-07.00P.M </td>
        <td> SELF AND BEYOND-FREE PRACTICAL SELF DEFENSE WORKSHOP </td>
        <td> Satyaki Gupta </td>
      </tr>
    </table>
  </div>
</div>
<!--================================================================================================-->